body{
  padding: 40px;
}
a{
  color: #666;
  text-decoration: none;
}
a:hover{
  color: #666;
  text-decoration: none;
}
.datepicker{
  display: inline-block;
  position: relative;
}

.datepicker-panel {
  position: absolute;
  top: 100%; 
  left: 0; 
  margin-top: 2px;
  width: 200px;
  border: 1px solid #ccc;
  padding: 5px;
  color: #666;
  box-shadow: 1px 0px 6px rgba(0,0,0,0.2);
}
.calendar-header{
  padding:5px 0;
  line-height: 1.5;
  text-align: center;
}
.calendar-header .title{
  font-weight: bold;
}
.datepicker .prev{
  float: left; 
}
.datepicker .next{
  float: right;
}
.datepicker .next,
.datepicker .prev{
  padding-left: 5px;
  padding-right: 5px;  
}
.datepicker .next:hover,
.datepicker .prev:hover{
  background: #eaf8fe;
}
.datepicker table {
  border-collapse: collapse;
  max-width: 100%;
  background-color: transparent;
  width: 100%
}  
.datepicker th, .datepicker td {
  text-align: center;
}
.datepicker td {
  color: #999;
  cursor: pointer;
  border-radius: 5px;
  line-height: 1.5;  
}
.datepicker td.current{
  color: #333;
}
.datepicker td:hover{
  background: #eaf8fe;
  cursor: pointer;  
}
.datepicker td.active{
  background: #2db7f5;
  color: #fff;
  border: 1px solid transparent;
} 
[v-cloak] {
  display: none;
}
.datepicker [disabled] {
  cursor: not-allowed;
  opacity: 1;  
}
.datepicker td.disabled{
  cursor: not-allowed;
  color: #bcbcbc;
  background: #f3f3f3;
}